body{
	height: 100vh;
	width: 100vw;
}

#game_container{
	height: 100%;
	width: 100%;
	position: relative;
}
.ship_class{
	background-image: url(assets/img/redfighter0006.png);
	height: 10vh;
	width: 10vh;
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	#transition-duration: .15s;
}
.ship_class.thrusting::after{
	content: '';
	background-image: url(assets/img/rocketthrust.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotateZ(90deg) translateY(40%);
	height: 20%;
	width: 80%;
	position: absolute;
	right: 0%;
	top: 100%;
}
